<div class="swiper certificateSwiper">

    <div class="swiper-wrapper">

        <div
            class="swiper-slide"
            *ngFor="let cert of certificates">

            <button
                type="button"
                class="certificate-card"
                (click)="openCertificate(cert)"
                [attr.aria-label]="'Open ' + cert.title + ' certificate'">

                <img
                    class="certificate-card__backdrop"
                    [src]="cert.image"
                    alt=""
                    aria-hidden="true">

                <img
                    class="certificate-card__image"
                    [src]="cert.image"
                    [alt]="cert.title">

            </button>

        </div>

    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev" aria-label="Previous certificate"></div>
    <div class="swiper-button-next" aria-label="Next certificate"></div>


</div>

<div
    class="certificate-modal"
    *ngIf="selectedCertificate as certificate"
    (click)="closeCertificate()">

    <button
        type="button"
        class="certificate-modal__close"
        aria-label="Close certificate preview"
        (click)="$event.stopPropagation(); closeCertificate()">
    </button>

    <img
        class="certificate-modal__image"
        [src]="certificate.image"
        [alt]="certificate.title"
        (click)="$event.stopPropagation()">

</div>
